a.link {
  text-decoration: none;
  border: 1px solid cornflowerblue;
  border-radius: 1rem;
  padding: 0.3rem 0.75rem;
  color: cornflowerblue;
  margin-top: 1rem;
  display: inline-block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: fit-content;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(70, 150, 205, 0.3);
}
